nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #8a41fe;
    transition: width 0.3s ease;
}
nav a:hover::after {
    width: 100%; /* Ligne visible au survol */
}

body {
    background-image: url("https://img.freepik.com/free-photo/blurred-background-clothing-store_1258-82.jpg?t=st=1733232231~exp=1733235831~hmac=873e245f03d470bdf7befddd5ba8b44889ed45ab374c940e19ce721acdaa3b44&w=996");
    background-attachment: fixed;
    background-size: cover;
}

.body-connexion{
    background-image: url("https://img.freepik.com/free-photo/blur-shopping-mall_1203-8809.jpg?t=st=1733232691~exp=1733236291~hmac=135a5ad25d3496d50cd96beab75b5407cdbd88e0f66822bc1eb6dc550b8ee522&w=996");
    background-attachment: fixed;
    background-size: cover;
}
.rotating-div{
    animation: swing 2s infinite ease-in-out;
}
.rotating-div:hover {
    transform: rotate(-10deg); /* Légère rotation à gauche */
}

.rotating-div:hover ~ .rotating-div {
    transform: rotate(10deg); /* Légère rotation à droite */
}
@keyframes swing {
    0%, 100% {
        transform: rotate(15deg);
        scale: 105%;
    }
    50% {
        transform: rotate(-15deg);
        scale: 95%;/* Tourne à gauche */
    }
}



.rotating-div2{
    animation: swing2 2s infinite ease-in-out;
}
.rotating-div2:hover {
    transform: rotate(-10deg); /* Légère rotation à gauche */
}

.rotating-div2:hover ~ .rotating-div {
    transform: rotate(10deg); /* Légère rotation à droite */
}
@keyframes swing2 {
    0%, 100% {
        transform: rotate(-15deg);
        scale: 95%;
    }
    50% {
        transform: rotate(15deg);
        scale: 105%;/* Tourne à gauche */
    }
}
